$white: #ffffff;
$main-background-color: #2E2E3A;
$primary: #E2142D;
$text-color: #2E2E3A;
$border-color: #EFEFEF;
$small-screen: rem(600);
$medium-screen: rem(960);
$large-screen: rem(1280);
$extra-large-screen: rem(1920);
